<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarMate"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1616100422889420~6694899036"/>

        <activity
            android:name="com.SinglecarActivity2"
            android:exported="false" />
        <activity
            android:name="com.Addcar2Activity"
            android:exported="false" />
        <activity
            android:name="com.CompareActivity"
            android:exported="false" />
        <activity
            android:name=".SingleusercarActivity"
            android:exported="false" />
        <activity
            android:name=".SinglereviewActivity"
            android:exported="false" />
        <activity
            android:name=".CarreviewsActivity"
            android:exported="false" />
        <activity
            android:name=".SinglefeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewcarActivity"
            android:exported="false" />
        <activity
            android:name=".UsercarActivity"
            android:exported="false" />
        <activity
            android:name=".SinglecarActivity"
            android:exported="false"
            android:label="@string/title_activity_singlecar"
            android:theme="@style/Theme.CarMate.NoActionBar" />
        <activity
            android:name=".AdminmenuActivity"
            android:exported="false" />
        <activity
            android:name=".AdminloginActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>